dist: xenial
language: python

services:
  - docker

branches:
  only:
    - master

matrix:
  include:
    - python: 2.7
      env: TOXENV=py27
    - python: 3.7
      env: TOXENV=py37

install:
  - pip install tox

script: tox
